body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    

}

ul{
    
    border:none;
    list-style-type: none;
    overflow: hidden;
    border-radius:20px;
    width: 90%;
    

}
a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
    padding: 14px 16px;
    display: block;
   
}
li{
    float: left;
   
}
img{
    overflow: hidden;
    width: 100%;
}
.div{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('c:/Users/Lenovo/Downloads/pexels-fauxels-3184416.jpg');
    background-size: cover;
    border-radius:0 0 80% 0 ;
    height: 100vh;
    width: 100%;
 
}
.div2{
    display: flex;
    width: 20%;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
    width: 97%;
    
}
.div3{
    justify-items: center;
    background-color: lightblue;
    height: 400px;
    border: none;
    border-radius: 20px;
    transition: all 0.5s;
    animation: appear 5s;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
.div3:hover{
    transform: scale(1.10);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
}
.div4{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('c:/Users/Lenovo/Downloads/pexels-shkrabaanthony-4348401.jpg');
    background-size: cover;
    height: 70vh;
    width: 100%;
    margin-top: 30px;
    animation: change 3s infinite;
   
}
.button{
    width: 200px;
    height: 50px;
    cursor: pointer;
    background-color: yellow;
    font-size: 2rem;
    border:none;
    border-radius: 5px 40px 0 12px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
}
.button:hover{
    background-color: hsl(60, 100%, 65%);
}
.a:hover{
color: blue;
transition: 0.5s;
}
.bgimg{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
 
}
.button3{
    background-color: hsl(0, 0%, 95%);
    width: 100%;
    min-width:100px ;
    width: 200px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: hsl(0, 0%, 30%);
    color: white;
    border-radius: 10px;
}
input{
    width: 300px;
    height: 20px;
    border: none;
    padding: 10px;
    outline: none;
    box-shadow: 0 0 20px 0 rgba(243, 239, 239, 0.5);
}
.button2{
    width: 320px;
    padding: 10px;
    height: 40px;
    cursor: pointer;
    background-color: hsl(240, 100%, 60%);
    font-size: 1rem;
    border:none;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
    color: white;

}
.span{
   display: flex;
   justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.dot{
    width: 10px;
    height: 10px;
    background-color: hsl(0, 0%, 30%);
    border-radius: 50%;
    border: none;
    animation: dot 1s infinite;
}
@keyframes dot{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes change{
    0%{
        background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('c:/Users/Lenovo/Downloads/pexels-fauxels-3183150.jpg');
    }
    50%{
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('c:/Users/Lenovo/Downloads/pexels-shkrabaanthony-4348401.jpg');
    }
    100%{
        background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('c:/Users/Lenovo/Downloads/pexels-singkham-178541-1108572.jpg');
    }
}
@media (max-width:600px) {
    body {
        font-size: 1.2rem;
    }
    .div {
        height: 50vh;
        width: 100%;
        font-size: 1px;
    }
    .h1{
        font-size: 1rem;
        width:421px;
        padding-right: 10px;
        padding: 0;
        margin: 0;
    }
    .div4 {
        height: 50vh;
    }
    .button2 {
        width: 250px;
        height: 35px;
    }
    .button3 {
        width: 150px;
        height: 36px;
        margin-top: 18px;
    }
    input {
        width: 250px;
    }
    form {
        width: 90%;
        margin-left: 25px;
    }
    ul {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .div2 {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .div3 {
        height: 300px;
        width: 99%;
        animation: none;

    }
    .button {
        width: 105px;
        height: 40px;
        margin-top: 118px;
        font-size: 1.5rem;
    }
   
    a {
        font-size: 1.5rem;
    }
    h2{
        font-size: 2rem;
    }
    .div4{
        width: 96%;
        margin-left: 10px;
    }
    pre{
        font-size: 1rem;
        margin-left: -73px;
        padding-top: 80px;
    }
}
@keyframes appear{
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes diva{
    from{
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
    }
    to{
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}
